/* Ingreso Solidario - Filtro HTML */
@font-face {
    font-family: 'Myriad Pro Light';
    src: url(../font/Myriad-Pro-Light.otf);
}

@font-face {
    font-family: 'Myriad Pro Regular';
    src: url(../font/Myriad-Pro-Regular.otf);
}

@font-face {
    font-family: 'Myriad Pro Semibold';
    src: url(../font/Myriad-Pro-Semibold.otf);
}

@font-face {
    font-family: 'Myriad Pro Bold';
    src: url(../font/Myriad-Pro-Bold.otf);
}

body {
    margin: 0;
    overflow-x: hidden;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 6vmax;
}

.header .header__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #3669c9;
}

.header .header__container .header__link {
    color: #ffffff;
    font-size: 1.1vmax;
    font-family: 'Myriad Pro Regular';
    text-decoration: none;
}

.header .header__container .header__logo {
    width: 13vmax;
    height: 3.7vmax;
    background: url(../img/logo.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
}

.header .header__container .header__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9vmax;
    height: 1.9vmax;
    color: #000000;
    font-size: 1.1vmax;
    font-family: 'Myriad Pro Regular';
    text-align: center;
    text-decoration: none;
    background-color: #ffffff;
    border-radius: 1.9vw;
}

.section1 {
    margin-top: 6vmax;
}

.section1 .section1__bg {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 52.08vmax;
    background: url(../img/bg.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.section1 .section1__bg .section1__formbg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2.5vw;
    width: 27.5vw;
    height: 39vmax;
    background-color: #ffffff;
    border-radius: 1vw;
}

.section1 .section1__bg .section1__formbg .section1__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section1 .section1__bg .section1__formbg .section1__form .section1__form--title {
    margin: 0.15vw 0;
    width: 22vw;
    color: #000000;
    font-size: 2vmax;
    font-family: 'Myriad Pro Regular';
    text-align: center;
}

.section1 .section1__bg .section1__formbg .section1__form .section1__form--description {
    margin: 0.15vw 0;
    width: 24vw;
    color: #000000;
    font-size: 0.8vmax;
    font-family: 'Myriad Pro Regular';
    text-align: center;
}

.section1 .section1__bg .section1__formbg .section1__form label {
    margin: 0.15vw 0;
    width: 27.5vw;
    color: #000000;
    font-size: 0.85vmax;
    font-family: 'Myriad Pro Semibold';
    text-align: left;
}

.section1 .section1__bg .section1__formbg .section1__form input, 
.section1 .section1__bg .section1__formbg .section1__form select {
    margin: 0.15vw 0;
    padding: 0.5vw;
    width: 26.5vw;
    color: #9e9e9e;
    font-size: 0.73vmax;
    font-family: 'Myriad Pro Regular';
    text-align: left;
}

.section1 .section1__bg .section1__formbg .section1__form select {
    width: 27.5vw;
}

.section1 .section1__bg .section1__formbg .section1__form .section1__form--btn, 
.section1 .section1__bg .section1__knowmore .section1__knowmore--btn div {
    display: inline-grid;
    margin-top: 1.5vw;
    width: 10vmax;
    height: 2.3vmax;
    color: #ffffff;
    font-size: 1vmax;
    font-family: 'Myriad Pro Regular';
    text-align: center;
    background-color: #1573fd;
    border: 0;
    border-radius: 0.7vmax;
}

.section1 .section1__bg .section1__knowmore {
    width: 40vw;
    height: 25vmax;
    padding: 4vw;
}

.section1 .section1__bg .section1__knowmore .section1__knowmore--title, 
.section1 .section1__bg .section1__knowmore .section1__knowmore--description {
    margin: 0vw;
    color: #000000;
    font-size: 3vmax;
    font-family: 'Myriad Pro Light';
    text-align: center;
}

.section1 .section1__bg .section1__knowmore .section1__knowmore--description {
    font-size: 1.8vmax;
}

.section1 .section1__bg .section1__knowmore .section1__knowmore--btn {
    display: inline-grid;
    justify-content: center;
    width: 40vw;
    text-decoration: none;
}

.section1 .section1__bg .section1__knowmore .section1__knowmore--btn div p {
    margin: auto;
}
/* Desarrollado por : Dante Salamanca Galvis - T.I: 1.097.498.423 */